[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/NvChad/NvChad
[submodule ".config/bat/syntaxes/cmd-help-sublime-syntax"]
	path = .config/bat/syntaxes/cmd-help-sublime-syntax
	url = git@github.com:victor-gp/cmd-help-sublime-syntax.git
